body {background-color:#9C835F ;
      height: 1024px;
                  }

              

 a button 
  { background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color:rgba(114, 76, 33, 1); font-weight: 1000;
    font-size: 2.5vw;}    


logo img{width: 2.5vw;
   margin-left: 1%; 
   margin-bottom: -0.5%; 
   margin-right: 1%;}

h1{ font: size 1px ;}
h2 {display: inline-block ;
   margin-bottom: 3%; 
   font-size: 2vw;
   font-family: 'Open Sans', sans-serif; }

   .player{text-align: center;}

.choices{text-align: center;}
.choices img {width: 5vw;  }
.choices div {margin-bottom: 4%;}
button{ background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;}

.pick {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;}

vs{font-size: 5vw; 
    color: rgba(189, 0, 0, 1);
    font-family: 'Open Sans', sans-serif;
   }

h4{font-size: 20px;}


 .refresh img  {width:4vw ;}
 button.refresh {margin-left: 49%;  
                 margin-top: -5%; 
                 background-color: Transparent;
                 background-repeat:no-repeat;
                 border: none;
                 cursor:pointer;
                overflow: hidden;
                outline:none;}




 #computer-choice{color:#9C835F ;}
 #user-choice{color:#9C835F ;}
 
